@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.line {
  clear: left; }

.float {
  float: left; }

[class^="col-"] {
  float: left; }

col-fix {
  width: 50px; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

.marg-1 {
  margin: 0 4.1666666667%; }

.marg-2 {
  margin: 0 8.3333333333%; }

.marg-3 {
  margin: 0 12.5%; }

.marg-4 {
  margin: 0 16.6666666667%; }

.marg-5 {
  margin: 0 20.8333333333%; }

.marg-6 {
  margin: 0 25%; }

.marg-7 {
  margin: 0 29.1666666667%; }

.marg-8 {
  margin: 0 33.3333333333%; }

.marg-9 {
  margin: 0 37.5%; }

.marg-10 {
  margin: 0 41.6666666667%; }

.marg-11 {
  margin: 0 45.8333333333%; }

.marg-12 {
  margin: 0 50%; }

header.header-parent {
  position: fixed; }
  header.header-parent nav {
    background-color: #28282b;
    border-right: 1px solid #FFFFFF;
    height: 100vh;
    padding: 2% 0; }
    header.header-parent nav ul {
      margin-top: 40vh; }
      header.header-parent nav ul li {
        color: #8D8D8D;
        text-transform: uppercase;
        list-style: none;
        font-weight: 600;
        text-align: center;
        font-size: 14px;
        padding: 5px 0;
        margin: 2px 8px;
        border: 1px solid #28282b;
        transition: 0.3s;
        border-radius: 3px; }
        header.header-parent nav ul li:hover {
          border: 1px solid #FFFFFF;
          background-color: rgba(255, 255, 255, 0.5);
          transition: 0.3s;
          color: #FFFFFF; }

div.header-child {
  visibility: hidden;
  opacity: 0; }

div.tuto {
  background-color: #191919;
  padding: 3%;
  background: radial-gradient(circle farthest-corner at 200px 0, #414141, #000); }
  div.tuto h1, div.tuto h2, div.tuto h3 {
    color: #FFFFFF; }
  div.tuto ul {
    margin-left: 25px;
    color: #C5C5C5; }
    div.tuto ul li ol li {
      list-style: none;
      margin-left: 25px; }

div.input-console {
  color: #FFFFFF;
  background-color: #191919;
  padding: 3%;
  display: inline-block; }
  div.input-console input {
    padding: 3px; }
  div.input-console input.btn {
    margin-left: 15px;
    background: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 5px;
    font-weight: 900; }
    div.input-console input.btn:hover {
      color: #191919;
      background-color: #FFFFFF;
      transition: 0.3s; }
  div.input-console input#inputText {
    text-align: center;
    width: 17%;
    border: none;
    border-bottom: 2px solid red;
    background: none;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase; }

div.render-console {
  color: #FFFFFF;
  padding: 2%;
  background-color: #28282b; }
  div.render-console div.render-terminal button.btn {
    margin: 2px;
    background: none;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    padding: 5px;
    font-weight: 900;
    transition: 0.3s;
    font-size: 11px; }
    div.render-console div.render-terminal button.btn:hover {
      color: #191919;
      background-color: #FFFFFF;
      transition: 0.3s; }
  div.render-console div.render-terminal span.tiret {
    color: #28282b; }

div.project1 {
  position: absolute;
  top: 1%;
  left: 1%;
  display: none; }

.btn:hover {
  color: #191919;
  background-color: #FFFFFF; }

button.close {
  margin: 2px;
  background: none;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 5px;
  font-weight: 900;
  transition: 0.3s;
  font-size: 11px; }
  button.close:hover {
    color: #191919;
    background-color: #FFFFFF;
    transition: 0.3s; }

div.project1 {
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 3%; }
  div.project1 img.project-img {
    width: 600px;
    margin: 5px 34%; }

.green {
  color: #0dbc79; }

.purple {
  color: #9b3fbc; }

.yellow {
  color: #e5e510; }

.blue {
  color: #13a8b9; }

.greenConsole {
  color: #3ac9b0; }

.yellowLog {
  color: #dcdcaa; }

.blueJS {
  color: #569cd6; }

.blueJS2 {
  color: #9cdcfe; }

.orangeJS {
  color: #c89178; }

.greenJS {
  color: #3ac9b0; }

.roseRend {
  color: #c57992; }

.roseTwig {
  color: #f92672; }

@media screen and (max-width: 600px) {
  img.project-img {
    width: 75% !important;
    margin: 5px 12% !important; } }
@media screen and (min-width: 1280px) {
  #menu-desktop {
    display: block; }

  #menu-mobile {
    display: none; } }
@media screen and (max-width: 600px) {
  header.parent {
    min-width: 46pximportant; }

  #menu-desktop {
    display: none !important; }

  #menu-mobile {
    display: block !important; }

  input#inputText {
    font-size: 10px !important;
    width: 27% !important; } }
/* Sur tous types d'├®cran, quand la largeur de la fen├¬tre est comprise entre 1024px et 1280px

@media all and (min-width: 1024px) and (max-width: 1280px){

}
*/
/* Sur tous types d'├®crans orient├®s verticalement 

@media all and (orientation: portrait){

}
*/
body {
  background-color: #8D8D8D; }

* {
  font-family: 'Lato', sans-serif; }

/*# sourceMappingURL=main.css.map */
